.about-main{
    display: grid;
    grid-template-areas:
    'empty empty'
    'left right';
    grid-template-rows: 10% 90%;
    grid-template-columns: 70% 30%;
}

.about-card{
    background: rgba( 255, 255, 255, 0.45 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    padding: 10px 10px;
    margin: 70px 35px;
}

.about-main-title{
    margin-left: 24px;
    color: var(--font-color);
    font-family: 'Nunito-Bold';
    font-size: xx-large;
}

.about-main-info{
    margin: 7px 0;
    color: var(--font-color);
    font-family: 'Nunito-Semi-Bold';
    font-size: large;
    margin-left: 34px;
}

.about-grid-left{
    grid-area: left;
}

.about-grid-right{
    grid-area: right;
}

.about-link{
    font-family: 'Nunito-Bold';
    font-size: large;
    color: var(--link-color);
    text-decoration: none;
}

.about-link:hover{
    text-decoration: underline;
}

.about-link:focus{
    font-family: 'Nunito';
    font-size: large;
    color: var(--link-color);
    text-decoration: none;
}

.about-line{
    width: 100%;
    height: 2px;
    background: var(--font-color);
}

.about-repo{
    height: 80%;
    margin: 10px 20px;
    display: flex;
    flex-flow: column;
}

.about-repo-header{
    margin: 10px 0;
    display: flex;
    flex-flow: row;
    align-content: center;
}

.about-repo-icon{
    width: 30px;
    height: 30px;
    color: var(--font-color);
}

.about-repo-link{
    margin-left: 5px;
    font-size: 21px;
    font-family: 'Nunito-Bold';
    color: var(--link-color);
    text-decoration: none;
}

.about-repo-link:hover{
    text-decoration: underline;
}

.about-repo-link:focus{
    color: var(--link-color);
}

.about-repo-description{
    margin: 5px 5px;
    font-family: 'Nunito-Semi-Bold';
    font-size: 21px;
}

.about-repo-footer{
    margin-top: auto;
    display: flex;
    align-items: center;
}

.about-repo-lang{
    margin-left: 7px;
    color: var(--font-color);
    font-family: 'Nunito-Semi-Bold';
}

.about-list-entry{
    display: flex;
    flex-flow: row;
    align-items: center;
    position: relative;
    top: 5px;
    font-family: 'Nunito-Semi-Bold';
}

li{
    margin: 10px 0;
}

.about-list{
    margin: 0 20px;
}

.about-contacts{
    width: 20px;
    height: 20px;
    color: var(--font-color);
    margin: 0 7px;
}
.about-secondary-title{
    margin: 0 35px;
    margin-top: 15px;
    color: var(--font-color);
}

.about-gh{
    color: var(--link-color);
    text-decoration: none;
}

.about-gh:focus{
    color: var(--link-color);
}

.about-gh:hover{
    text-decoration: underline;
}